* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  /* border: 4px solid red; */
}

body {
  /* border: 4px solid blue; */
}

.input-email,
.input-postal-code,
.input-password,
.input-password-confirm {
  padding: 0.2rem;
}

.input-email,
.select-country,
.input-postal-code,
.input-password,
.input-password-confirm {
  border: 1px solid black;
  border-radius: 2px;
}

.input-email:user-invalid,
.select-country:user-invalid,
.input-postal-code:user-invalid,
.input-password:user-invalid,
.input-password-confirm:user-invalid {
  border: 1px solid red;
}

.input-email:user-valid,
.select-country:user-valid,
.input-postal-code:user-valid,
.input-password:user-valid,
.input-password-confirm:user-valid {
  border: 1px solid green;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: start;

  width: 100%;
  height: 100%;
  padding: 2rem;
  /* border: 4px solid black; */
}

form {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  /* align-items: center; */
  /* gap: 1rem; */
  padding: 1rem;
  box-shadow: 2px 2px 5px black;
  border-radius: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.container-email {
  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
}

.label-email {
  display: flex;
  flex-direction: column;
  /* border: 4px solid red; */
}

.container-country {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.label-country {
  display: flex;
  flex-direction: column;
}

.select-country {
  padding: 0.1rem;
}

.container-postal-code {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.label-postal-code {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.container-password {
  display: flex;
  flex-direction: column;
  /* border: 4px solid red; */
}

.label-password {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.label-password-confirm {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.container-submit {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.btn-submit {
  padding: 0.5rem;
  border: none;
  width: 100%;
  color: white;
  background-color: rgb(18, 49, 189);
}

.btn-submit:hover {
  background-color: deeppink;
}

.span-error,
.span-success {
  min-height: 20px;
  visibility: hidden;
}

.span-error {
  color: red;
}

.span-success {
  color: green;
  visibility: visible;
}

.show {
  visibility: visible;
}
