@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  /* border: 4px solid red; */
}

body {
  /* border: 4px solid blue; */
  font-family: "Montserrat", sans-serif;
}

.input-email,
.input-postal-code,
.input-password,
.input-password-confirm {
  padding: 0.2rem;
}

.input-email,
.select-country,
.input-postal-code,
.input-password,
.input-password-confirm {
  border: 1px solid black;
  border-radius: 2px;
}

.input-email:focus,
.select-country:focus,
.input-postal-code:focus,
.input-password:focus,
.input-password-confirm:focus {
  outline: none;
}

/* .input-email:user-invalid,
.select-country:user-invalid,
.input-postal-code:user-invalid,
.input-password:user-invalid,
.input-password-confirm:user-invalid {
  border: 1px solid red;
}

.input-email:user-valid,
.select-country:user-valid,
.input-postal-code:user-valid,
.input-password:user-valid,
.input-password-confirm:user-valid {
  border: 1px solid green;
} */

.main-container {
  display: flex;
  justify-content: center;
  align-items: start;

  width: 100%;
  height: 100%;
  padding: 2rem;
  /* border: 4px solid black; */
}

form {
  display: grid;
  padding: 1rem 1rem 0.5rem 1rem;

  border-radius: 4px;
  min-width: 300px;
  box-shadow: 2px 2px 5px black;
  border: 1px solid rgb(197, 197, 197);
}

.form-header {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.container-email {
  display: flex;
  flex-direction: column;
}

.label-email {
  display: flex;
  flex-direction: column;
}

.container-country {
  display: flex;
  flex-direction: column;
}

.label-country {
  display: flex;
  flex-direction: column;
}

.select-country {
  padding: 0.1rem;
}

.container-postal-code {
  display: flex;
  flex-direction: column;
}

.label-postal-code {
  display: flex;
  flex-direction: column;
}

.container-password {
  display: flex;
  flex-direction: column;
}

.label-password {
  display: flex;
  flex-direction: column;
}

.label-password-confirm {
  display: flex;
  flex-direction: column;
}

.container-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.btn-submit {
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  width: 100%;
  color: white;
  background-color: #1231bd;
  transition: background-color ease-in-out 0.3s;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: #e41282;
}

.span-error,
.span-success {
  min-height: 20px;
  visibility: hidden;
  font-size: 0.8rem;
}

.span-error {
  color: #d30000;
}

.span-success {
  color: #008000;
  visibility: visible;
}

.input-error {
  border: 1px solid #d30000;
}

.input-success {
  border: 1px solid #008000;
}

.show {
  visibility: visible;
}
